<html>
  <head>
    <title>Hello Docker</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">
      <img src="/images/docker.png" />
      <p class="footer">This page is visited <%= num %> times, from <%= hostname %>.</p>
    </div>
  </body>
</html>